<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Marrubium.Web</title>
    <script src="https://kit.fontawesome.com/2be921ac13.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;628&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="logo" asp-controller="Home" asp-action="Main"></a>
                </div>
                <div class="col-md-8">
                    <ui class="main_menu">
                        <li><a class="s1" asp-controller="Home" asp-action="About">About</a></li>
                        <li>
                            <a class="s1" asp-controller="Catalog" asp-action="Main">Catalog</a>
                            <ul>
                                <li><a class="s2">Creams</a></li>
                                <li><a class="s2">Serums</a></li>
                                <li><a class="s2">Сleaning Products</a></li>
                                <li><a class="s2">Masks</a></li>
                            </ul>
                        </li>
                        <li><a class="s1" asp-controller="Home" asp-action="Delivery">Delivery</a></li>
                        <li><a class="s1" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                    </ui>
                </div>
                <div class="col-md-2">
                    <div class="buttons_menu">
                        <a class="profile"></a>
                        <a class="favourite"></a>
                        <a class="cart"></a>
                        <a class="search"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
            @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/img/logo.png" alt="Marrubium" class="footer-center">
                </div>
                <div class="offset-md-1 col-md-2">
                    <div class="footer-menu-1 flex-cont">
                        <a asp-controller="Home" asp-action="About">About</a>
                        <a asp-controller="Catalog" asp-action="Main">Catalog</a>
                        <a asp-controller="Home" asp-action="Contacts">Contacts</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu-2 flex-cont">
                        <a asp-controller="Home" asp-action="Delivery">Delivery</a>
                        <a href="mailto:p4rplesky@gmail.com">Write us</a>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="tel-number footer-center">
                        <a class="tel" href="tel:+79967797169">+7(996)779-71-69</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
