@{
    ViewBag.Title = "Catalog";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/about_page.css"/>

<div class="main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-flex">
                <div class="about-us__left">
                    <h1 class="about-us__title">About Us</h1>
                    <p class="s1">
                        The most important goal of our brand is the use of 
                        natural raw materials in products and the development 
                        of a cosmetic formula that would suit many people. Our 
                        laboratory is in search of this formula. We are testing 
                        different combinations of medicinal plants. Our cosmetics 
                        undergo numerous checks.
                    </p>
                    <img src="img/left_about.png" alt="1" class="left-image">
                </div>
            </div>
            <div class="col-md-6 center-flex">
                <div class="about-us__right">
                    <img src="img/right_about.png" alt="1" class="right-image">
                    <p class="s1">
                        Our cosmetics are not tested on animals. 
                        We cooperate with the best Korean specialists in the field of cosmetics.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>