html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
  --height: 200px;
  --width: 200px
}

.product-img {
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.product-img img {
  width: var(--width);
  height: auto;
}

.product-desc {
  display: flex;
  height: var(--height);
  align-items: center;
}

.li-item {
  /*height: 21px;*/
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: flex-start;
  align-items:center;
  gap: 10px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}